<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${asset.symbol + ' : Price analysis'}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../css/flat-ui.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script th:inline="javascript">
        google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(drawBasic);

        function drawBasic() {

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'X');
        data.addColumn('number', 'Price');
        data.addColumn('number', 'Short moving avg');
        data.addColumn('number', 'Long moving avg');

        var chartRawData = [[${chartData}]];
        var dataArray = [];

        for (var key in chartRawData) {
            var rowArray = [];
            rowArray.push(new Date(key));
            rowArray.push(chartRawData[key].price);
            rowArray.push(chartRawData[key].shortAvgValue);
            rowArray.push(chartRawData[key].longAvgValue);
            dataArray.push(rowArray);
        }

        data.addRows(dataArray);

        var options = {
            height: 500,
            hAxis: {
                title: 'Time'
            },
            vAxis: {
                title: 'Price'
            },
            'chartArea': {'width': '80%', 'height': '90%'},

            curveType: 'function',
            series: {
                0: { lineDashStyle: [1, 1], color: '#43459d' },
                1: {  },
                2: {  }
            }


        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
        }
    </script>
</head>
<body>

<div class="col-xs-12">
    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#">Stock Analysis</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <form class="navbar-form navbar-right" method="post" action="#" th:action="@{/chart}" th:object="${asset}" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" id="navbarInput-01" type="search" th:field="*{symbol}" placeholder="Search" />
                        <span class="input-group-btn">
                      <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                    </div>
                </div>
            </form>
        </div><!-- /.navbar-collapse -->
    </nav><!-- /navbar -->
</div>

<div class="container">
    <div class="">
        <h4 th:inline="text" >
            [[${asset.symbol}]]
        </h4>
    </div>
</div>
<!-- /.container -->

<div id="chart_div"></div>
<script src="js/vendor/jquery.min.js"></script>
<script src="js/flat-ui.min.js"></script>
</body>
</html>